body {
  margin: 0;
  height: 100vh;
  padding: 20px;
  font-size: 30px;
  font-family: helvetica;
  background: linear-gradient(rgba(158, 86, 57, 0.4), rgba(220, 86, 36, 0.7));
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

input {
  right: 0px;
  bottom: -2px;
  transition: all 0.5s;
  border: 1px solid red;
  zoom: 2.0;
  transform: rotate(91deg);
  color: blue;
  margin: 5px;
  outline: 2px solid lightblue;
  box-shadow: none;
  font-size: 2em;
}

input:checked {
  transform: rotate(0deg);
  color: white;
  background-color: blue;
  filter: invert(100%) hue-rotate(98deg) brightness(1.1);
}

label {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-family: helvetica;
  width: 100%;
  zborder: 1px solid yellow;
  transition: all 0.5s;
  border-left: 8px solid rgba(0, 0, 0, 0);
  margin-top: 20px;
}

/*label:hover {
  border-left: 8px solid rgba(100,40,255,0.7);
}

input:not(:checked):hover {
  animation: keyshaky 1s infinite;
}
@keyframes keyshaky {
  0% { transform: translateX(0px) }
  10% { transform: translateX(5px) }
  20% { transform: translateX(-3px) }
  30% { transform: translateX(0px) }
}
#div1 {
  font-family: fantasy;
  color:red;
  position:fixed;
  left: 100px;
  ztop: 100px;
  opacity: 0.01;
  transform: scale(0.01);
  color:white;
  background-color:aquamarine;
  border-radius: 20px;
  padding: 5px;
  transition: all 0.4s ease;
		color: white;
		text-decoration-color: blue;
		outline-color: blueviolet;
		border: 5px solid white;
		border-radius: 6px;
		color: brown;
		width: 120px;
		font-size: 0.5em;
		text-shadow: none;
		box-shadow: 5px 5px #88888888;
}
#div1.start {
  opacity: 1.0;
  transform: scale(2.0);
}

#gif1 {
  position:absolute;
  top: 0;
  display:none;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
